<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<!--
管理后台--警告提示

使用方式：
<div th:replace="components/alert::show"></div>

小技巧：
可以使用 Code >> save as live template 保存到 IDEA 模板，命名为 th-alert 快捷输入，可以极大提升效率。
-->

<!--suppress ThymeleafMessagesResolveInspection -->
<!--/*@thymesVar id="alert" type="java.lang.String"*/-->
<div class="alert alert-dismissible fade show mx-3" scriptRole="alert" th:fragment="show"
     th:classappend="*{#{alert-type}}?: 'alert-info'" th:unless="${#strings.isEmpty(alert)}">
    <strong th:text="#{${alert}}"></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

</html>