<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<!--
管理后台--卡片布局

使用方式：
<div th:replace="components/card::content(~{::#header}, ~{::#body})">
    <div id="header" class="card-header">
        ...
    </tr>
    <div id="body" class="card-body">
        ...
    </tr>
</div>

更推荐的做法：将 card 布局添加到 live template 中，可以用快捷键召唤神龙。
模板内容：
<div class="card mx-3 w-100">
    <div class="card-header">
        <i class="fas fa-fw $CARD_TITLE_ICON$"></i>
        $CARD_TITLE$
    </div>
    <div class="card-body">
        $CARD_CONTENT$
    </div>
</div>
-->

<div class="card mx-3 w-100" th:fragment="content(header,body)">
    <div th:replace="${header}"></div>
    <div th:replace="${body}"></div>
</div>

</html>