<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<!--
管理后台--全局错误

使用方式：
<div th:replace="components/error::global"></div>

小技巧：
可以使用 Code >> save as live template 保存到 IDEA 模板，命名为 th-global-error 快捷输入，可以极大提升效率。
-->

<div th:if="${#fields.hasGlobalErrors()}" th:fragment="global">
    <div class="alert alert-danger alert-dismissible fade show" scriptRole="alert"
         th:each="err : ${#fields.globalErrors()}" th:unless="${#strings.isEmpty(err)}">
        <!--/*@thymesVar id="alert" type="java.lang.String"*/-->
        <small th:text="${err}"></small>
        <button type="button" class="close" data-dismiss="global-error" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<!--
管理后台--会话错误

使用方式：
<div th:replace="components/error::session"></div>

小技巧：
可以使用 Code >> save as live template 保存到 IDEA 模板，命名为 th-error-message 快捷输入，可以极大提升效率。
-->

<!--/*@thymesVar id="session" type="javax.servlet.http.HttpSession"*/-->
<div th:if="${param.error} and ${#session} and ${session.SPRING_SECURITY_LAST_EXCEPTION}"
     th:fragment="session">
    <p class="alert alert-danger text-center my-1 py-1"
       th:unless="${#strings.isEmpty(session.SPRING_SECURITY_LAST_EXCEPTION.message)}"
       th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>
</div>

</html>