<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!--
导航栏
已被 layout 布局直接导入，作为管理布局不可或缺的一部分。
-->

<nav class="navbar navbar-expand navbar-dark bg-dark static-top" th:fragment="admin">
    <!--/*@thymesVar id="website" type="hellgate.manage.config.WebsiteProperties"*/-->
    <a class="navbar-brand mr-1" th:href="@{/static}" th:text="|${website.title}#{admin.navbar.title}|"></a>
    <button id="sidebarToggle" class="btn btn-link btn-sm text-white order-1 order-sm-0">
        <!--fas fa see: https://fontawesome.com-->
        <i class="fas fa-bars"></i>
    </button>
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
            <a id="userDropdown" class="nav-link dropdown-toggle" href="#" scriptRole="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:inline="text">
                <i class="fas fa-user-circle fa-fw mr-1"></i><span sec:authentication="name"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <!--<a class="dropdown-item" href="#">Settings</a>-->
                <!--<a class="dropdown-item" href="#">Activity Log</a>-->
                <!--<div class="dropdown-divider"></div>-->
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"
                   th:text="#{admin.navbar.logout}"></a>
            </div>
        </li>
    </ul>

    <div class="modal fade" id="logoutModal" tabindex="-1" scriptRole="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" scriptRole="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="#{admin.navbar.logout.confirm}"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" th:text="#{admin.navbar.logout.body}"></div>
                <div class="modal-footer">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-primary" type="submit"
                               th:href="@{/logout}" th:value="#{admin.navbar.logout.enter}"/>
                    </form>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal"
                            th:text="#{admin.navbar.logout.cancel}"></button>
                </div>
            </div>
        </div>
    </div>
</nav>

</html>