<!--
管理布局

使用方法：
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout::admin(#{admin.title}, ~{::#wrapper})">
    <div id="wrapper">
        ...
    </div>
<html>
-->

<html th:fragment="admin(title,content)" xmlns:th="http://www.thymeleaf.org" lang="zh_CN"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--/*@thymesVar id="website" type="hellgate.manage.config.WebsiteProperties"*/-->
    <meta name="author" th:content="${website.author}" th:unless="${#strings.isEmpty(website.author)}">
    <title th:text="|${title} - ${website.title}|"></title>
    <link rel="shortcut icon" th:href="@{${website.favicon}}">
    <!-- Core styles and scripts -->
    <link th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/font-awesome/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/datatables/css/dataTables.bootstrap4.css}" rel="stylesheet">
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
</head>
<body id="page-top">
<div th:replace="components/navbar::admin"></div>
<!--/*@thymesVar id="content" type=""*/-->
<div th:replace="${content}"></div>
<script th:src="@{/webjars/popper.js/popper.min.js}" type="module"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/datatables/js/jquery.dataTables.js}"></script>
<script th:src="@{/webjars/jquery-easing/jquery.easing.js}"></script>
<script th:src="@{/webjars/dataTables/js/dataTables.bootstrap4.js}"></script>
<script th:src="@{/js/any-number.js}"></script>
<script th:src="@{/js/sb-admin.js}"></script>
</body>
</html>
